<%= render 'topnavbar', visitor: @visitor %>

<p id="notice"><%= notice %></p>

<h1>Visitantes</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Documento</th>
      <th>Telefone</th>
      <th>Setor</th>
      <th>Colaborador ViceGov</th>
      <th>Data de Registro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.name %></td>
        <td><%= visitor.document %></td>
        <td><%= visitor.telefone %></td>
        <td><%= visitor.sector %></td>
        <td><%= visitor.localuser %></td>
        <td><%= visitor.created_at %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


 <%= link_to 'Nova Visita', new_visitor_path, class: 'btn btn-outline-primary' %>

